@import "yoga";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";
@import "box-sizing";

$Button-Grey: #ddd;
$Button-Green: #80cbc4;
$Header-Bar-Blue: #00bbd3;
$Title-White: #fff;
$Regular-Text: rgba(255, 255, 255, 0.6);
$Placeholder-Text: rgba(255, 255, 255, 0.4);
$Green-Text: #92cbc5;
$Button-Text-Grey: #1c1c1c;
$Background-Black: #242524;

.container {
  width: (480px);
  background: $Background-Black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

header {
  height: 4rem;
  background: $Header-Bar-Blue;
  color: $Title-White;
  font-size: 24px;
  line-height: 4.5rem;
  padding-left: 1rem;
}

.run-list {
  margin: 1.5rem 1rem 4rem 0.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px $Placeholder-Text solid;
}

.list-items {
  font-size: 1.5rem;

}

.date {
  color: $Regular-Text;
  margin-bottom: 2rem;
}

.time {
  color: $Green-Text;
  margin-left: 9.5rem;
}

.fa {
  color: $Button-Green;
  background-color: $Background-Black;
  font-size: 3rem;
  padding: 0.5rem;
  margin-left: 25rem;
}
