.new-heading {
  color: $Title-White;
  margin-left: 1rem;
  font-weight: lighter;
}

.run-items {
  font-size: 1.5rem;
  height: 4rem;
  width: 100%;
  margin: 1rem;
  color: $Placeholder-Text;
  border-bottom: 1px $Placeholder-Text solid;
}

.btn {
  padding: 0.8rem;
  width: 6rem;
  border-radius: 2px;
  border: none;
  margin: 2rem 0 4rem 1rem;
}

.save {
  position: fixed;
  bottom: 0;
  right: 1rem;
  background: $Button-Green;
}
.cancel {
  position: fixed;
  bottom: 0;
  background: $Button-Grey;
}
