.my-heading {
  color: $Title-White;
  margin-left: 1rem;
  font-weight: lighter;
}

.run-detail {
  padding-bottom: 0.5rem;
  background: $Background-Black;
}
.run-record {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.run-items {
  flex: 1;
  font-size: 1.5rem;
  border: none;
  background: none;
  color: $Placeholder-Text;
}

#run-notes {
  width: 100%;
  height: 8rem;
}

.date {
  color: $Regular-Text;
}

.time {
  color: $Green-Text;
}

.fa {
  font-size: 2rem;
  position: fixed;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 100%;
  bottom: 3.5rem;
  right: 1rem;
  background: $Button-Green;
  color: $Button-Grey;
}
.back {
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  bottom: 0;
  left: 1rem;
  background: $Button-Grey;
}
