.run-list {
  margin: 1.5rem 1rem 4rem 0.8rem;
  padding-bottom: 0.5rem;
  background: $Background-Black;

  li {
    display: flex;
    flex-direction: row;
    border-bottom: 1px $Placeholder-Text solid;
  }
}

.list-items {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.date {
  flex: 1;
  color: $Regular-Text;
}

.time {
  color: $Green-Text;
}

.fa {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: $Button-Green;
  font-size: 3rem;
}
