a {
  text-decoration: none;
}

  li {
    margin: 1rem;
    border-bottom: 1px $Placeholder-Text solid;
  }


.list-items {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.date {
  color: $Regular-Text;
}

.time {
  color: $Green-Text;
}

.fa {
  bottom: 1rem;
  right: 1.5rem;
  color: $Button-Green;
  font-size: 2.5rem;
  font-weight: lighter;
}
